/*
 * CDDL HEADER START
 *
 * The contents of this file are subject to the terms of the
 * Common Development and Distribution License (the License).
 * You may not use this file except in compliance with the License.
 *
 * You can obtain a copy of the license at usr/src/CDDL.txt
 * or http://www.opensolaris.org/os/licensing.
 * See the License for the specific language governing permissions
 * and limitations under the License.
 *
 * When distributing Covered Code, include this CDDL HEADER in each
 * file and include the License file at usr/src/CDDL.txt.
 * If applicable, add the following below this CDDL HEADER, with the
 * fields enclosed by brackets [] replaced with your own identifying
 * information: Portions Copyright [yyyy] [name of copyright owner]
 *
 * CDDL HEADER END
 */

/*
 * Copyright 2006 Sun Microsystems, Inc. All rights reserved.
 * Use is subject to license terms.
 * ident	"%Z%%M%	%I%	%E% SMI"
 */

/* ADDITIONAL CSS FOR IE5.5+ SUPPORT */ 
 
/* TASKS PAGE */
*html body span.TskPgeTskLftBtm {bottom: -5px;}
*html body span.TskPgeTskRghtBtm {bottom: -5px; right:-1px}     
*html body span.TskPgeTskRghtTp {right:-1px;}
*html body span.TskPgeTskRghtBrdr {height:18px; top: 20%; right:-1px;}
span.TskPgeTskLftBtm, span.TskPgeTskLftTp, span.TskPgeTskRghtBtm, span.TskPgeTskRghtTp, span.TskPgeTskRghtBrdr {cursor:hand;}

/*---*/


